#titulo {
    font-family: "Playfair Display", serif;
    color: brown;
    position: absolute;
    font-size: 70px;
    left: 50%;
    transform: translateX(-50%);
}

body {
    background-color: navajowhite !important;
}

#quadrocadastro {
    position: absolute;
    max-width: 400px;
    padding: 60px;
    border: 2px solid saddlebrown;
    border-radius: 12px;
    background-color: rgb(168, 122, 89);
    color: white;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo {
    height: 90px;
    width: 90px;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
}

#botao {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

#botao:hover {
    background-color: darkred;
}

#botoes-redirecionamento {
    margin-top: 50px;
    text-align: center;
}

#botoes-redirecionamento a {
    color: navajowhite;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: 10px;
}

#botoes-redirecionamento a:hover {
    color: darkred;
}

@media only screen and (max-width: 600px) {
    #quadrocadastro {
        max-width: 90%;
        padding: 30px;
        text-align: center;
    }

    #titulo {
        font-size: 40px;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    #quadrocadastro {
        padding: 20px;
        text-align: center;
    }

    #titulo {
        font-size: 30px;
    }
}
