body {
    background-color: navajowhite !important;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    background-color: rgb(168, 122, 89) !important;
    opacity: 0.9 !important;
    padding: 10px 0 !important;
}

.navbar-logo {
    margin: 0; /* Remova qualquer margem */
}

.navbar-logo img {
    max-width: 100%;
    width: 50px;
    height: auto;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0;
}

.nav-link {
    font-size: 16px !important;
    color: #fff !important;
    margin-right: 20px !important;
}

.d-flex {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}