#titulo{
    font-family: "Playfair Display", serif;
    color: brown;
    position: absolute;
    font-size: 150px;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
}
body {
        background-color: navajowhite !important;
}

#quadrocadastro {
    position: absolute;
    max-width: 400px;
    padding: 60px;
    border: 1px solid saddlebrown;
    border-radius: 12px;
    background-color: rgb(168, 122, 89);
    color: white;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
}
#logo{
    height: 90px;
    width: 90px;
}
#botao {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

#botao:hover {
    background-color: darkred;
}
