

@media only screen and (max-width: 600px) {
    #usuarioDiv,
    #lojaDiv,
    #administradorDiv {
        max-width: 300px;
    }
}



#logo {
    width: 100px;
    height: 100px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:rgb(206, 167, 136) !important;
    margin: 0;
    
}

#opções {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    color: black;
    background-color:saddlebrown;
    border: 3px solid saddlebrown;
    
}
h2 {
    color: navajowhite ; 
    font-size: 20px;
    font-weight: normal; 
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

button {
    background-color: antiquewhite;
    color: brown;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    font-family: "Playfair Display", serif;
    font-size: medium;
}

button:hover {
    background-color: rgb(168, 122, 89);
}

.listas{
    width: 100%;
    max-height: 100px;
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-color: saddlebrown;
    background-color: rgb(170, 105, 0);
}

#lista_adm{
    position: relative;
    top: -190px;
}

#lista_loja{
    position: relative;
    top: -540px;
    left: 1000px;
}

#lista_usuario{
    position: relative;
    top: -440px;
    left: 500px;
    width: 500px;
}

.scrollable {

    overflow-y: auto; 
}

