/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.navbar {
    background-color: saddlebrown !important;
    opacity: 0.9 !important;
    padding: 10px 0 !important;
}

.navbar-brand {
    width: 10px;
    height: auto;
}

.nav-link {
    font-size: 16px !important;
    color: #fff !important;
    margin-right: 20px !important;
}


.d-flex {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
