body {
    background-size: cover;
    background-color: navajowhite !important;;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#titulo {
    font-family: "Playfair Display", serif;
    color: brown;
    font-size: 3em;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#quadrocadastro {
    position: absolute;
    max-width: 400px;
    padding: 3em;
    border: 1px solid saddlebrown;
    border-radius: 12px;
    background-color: rgb(168, 122, 89);
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    display: block;
    margin: 0 auto;
    height: 90px;
    width: 90px;
}
#botao {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 6px;
    cursor: pointer;
}

#botao:hover {
    background-color: darkred;
}