@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.d-flex {
    left: 50%;
    transform: translateX(-50%);
}

h1.titulo {
    font-family: "Playfair Display", serif;
    color: brown;
    position: absolute;
    font-size: 200px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

h3.frase {
    font-family: "Playfair Display", serif;
    color: brown;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}

.opcoes-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 600px;
}

.opcao {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(168, 122, 89) !important;
    border: 3px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.opcao:hover {
    transform: scale(1.05);
}

.opcao img {
    width: 450px;
    height: 600px;
    margin-bottom: 20px;
}

.opcao h2 {
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.opcao a {
    text-decoration: none;
}

.opcao p {
    color: white;
    font-size: 18px;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar {
        padding: 5px 0 !important;
    }
    .navbar-logo img {
        width: 40px;
    }
    .nav-link {
        font-size: 14px !important;
        margin-right: 15px !important;
    }

    h1.titulo {
        margin-top: 10px;
        font-size: 80px;
        top: 20px;
    }
    h3.frase {
        font-size: 20px;
        top: 150px;
    }

    .opcoes-container {
        
        margin-top: 350px;
        flex-direction: column;
    }
    .opcao {
        margin-bottom: 10px;
        width: 80%;
        max-width: 300px; 
    }
    .opcao img {
        width: 100%;
        max-height: 200px; 
        height: auto;
    }
    .opcao h2 {
        font-size: 18px;
    }
    .opcao p {
        font-size: 14px;
    }
}

.bg-body-tertiary {
    margin-top: 400px;
    border-top:black 2px solid ;
}




