@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

main {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.sale {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 80px;
    height: 200px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 12vh; /* Ajusta a posição para o topo da tela */
    border: 1px solid black;
}


.sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 40vh;
    width: 100%;
}

.section {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.section img {
    max-width: 100%;
    height: 700px;
    width: auto;
    border: 1px solid black;
}

.sm a, .sf a {
    color: black;
}

.top_brands {
    font-family: "Playfair Display", serif;
    font-size: 44px;
    font-weight: bold;
    color: brown;
    position: absolute;
    top: 150vh;
    left: 7vh;
    width: 100%;
}

.brand_images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 150vh;
}

.brand_images img {
    width: 300px;
    height: 300px;
    margin: 30px;
}

.arrived {
    font-family: "Playfair Display", serif;
    font-size: 44px;
    font-weight: bold;
    color: brown;
    position: absolute;
    top: 210vh;
    left: 7vh;
    width: 100%;
}

.arrived_images {
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10vh;
}

.arrived_images img {
    width: 300px;
    height: 300px;
    margin: 30px;
}
