@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    background-color: navajowhite !important;
}

.navbar {
    background-color: rgb(168, 122, 89) !important;
    opacity: 0.9 !important;
    padding: 10px 0 !important;
}

.navbar-logo img {
    max-width: 100%;
    width: 50px;
    height: auto;
}

.nav-link {
    font-size: 16px !important;
    color: #fff !important;
    margin-right: 20px !important;
}

.d-flex {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.sale {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 80px;
    height: 200px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 12vh; /* Ajusta a posição para o topo da tela */
    border: 1px solid black;
}


.sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 40vh;
    width: 100%;
}

.section {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.section img {
    max-width: 100%;
    height: 700px;
    width: auto;
    border: 1px solid black;
}

.sm a, .sf a {
    color: black;
}

.top_brands {
    font-family: "Playfair Display", serif;
    font-size: 44px;
    font-weight: bold;
    color: brown;
    position: absolute;
    top: 150vh;
    left: 10vh;
    width: 100%;
}

.brand_images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 250vh;
}

.brand_images img {
    width: 300px;
    height: 300px;
    margin: 30px;
}













